input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
}



form {
  position: relative;
  margin-bottom: 20px;

  .error {

    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    color: $color-danger;

  }

  .input-error {
    border-left: 5px solid $color-danger;
    background-color: $color-gray-lighter;

    &~label {
      top: -8px;
    }
  }

}

.form-footer {
  width: 100%;
  text-align: right;
}

.flex-wrapper {
  button {
    height: 35px;
  }
}

.item.active,
.item:hover {
  background: #d3d3d33b;
}





input,
select,
textarea {
  width: 100%;
  padding: 9px;
  border: none;
  border-bottom: 1px solid $color-gray-dark;
  background: none;
  background-color: $color-white;
  margin: 25px 0;
  color: $color-primary;

  font-size: 15px;

  &:focus {
    border-bottom: 1px solid $color-black;
  }
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 30px;

  &:focus {
    outline: var(--focus);
  }
}

fieldset {
  border: 1px solid #ddd;
  margin: 10px 0;
}

.input-wrapper {
  position: relative;

  .icon-x {
    padding: 0;
  }
}

.required {


  &:after {
    content: "*";
    color: $color-danger;

    position: absolute;
    top: 0;
    right: -9px;
  }
}