.chevron-left {

   &:after {
      content: "";
      @include chevron($dir:left);

   }
}

.chevron-right {
   &:after {
      content: "";
      @include chevron($dir:right);

   }
}

.chevron-down {
   &:after {
      content: "";
      @include chevron($dir:down);
      position: absolute;
      right: 14px;
      top: 16px;

   }
}

.chevron-up {
   &:after {
      content: "";
      @include chevron();
      position: absolute;
      right: 14px;
      top: 20px;

   }
}

.icon-checkmark {
   display: inline-block;

   &:after {

      content: '';
      display: block;
      width: 3px;
      height: 6px;
      border: 1px solid #000;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
   }
}

.icon-x {
   background: none;
   padding: 30px;
   margin: 0;
   min-width: auto;
   position: absolute;
   right: 30px;
   top: 7px;
   height: 20px;
   width: 20px;
   border: none;

   &:focus {
      outline: var(--focus);

   }

   &:after {
      content: "+";
      position: absolute;
      right: 0;
      top: 0;
      font-size: 27px;
      font-weight: 500;
      @include rotate();
      cursor: pointer;
      color: $color-primary-text;
   }
}