$color-white: #ffffff;
$color-black: #000000;
$color-gray: #e1e1e1;
$color-gray-light: #f5f4f2;
$color-gray-lighter: #f5f5f3;
$color-gray-darker: #ebebeb;
$color-gray-dark: #555555;
$color-blue: #0a829a;
$color-blue-dark: #04515f;
$color-blue-darkest: #0b373f;
$color-green: #7fd0c9;
$color-green-dark: #66b887;
$color-red: #a71b1b;
$color-red-light: #d20917;
/*colors*/
$color-primary: $color-black;
$color-primary-text: $color-black;
$color-primary-link: $color-black;
$color-primary-link-hover: $color-gray-dark;
$color-primary-btn: $color-blue-dark;
$color-primary-btn-hover: $color-blue;
$color-danger: $color-red;
$color-border: $color-black;
$color-background:$color-gray-light;